$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
//dark-theme
$gray-color: rgba(255, 255, 255, 0.3);
$button-page-dark-collor: rgba(70, 70, 70);
//light-theme
$button-pages-light-collor: rgba(237, 237, 237);

.pagination {
  padding: 40px 1.09% 40px 1.09%;
  display: flex;
  .double__left {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  .double__right {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }
  button.pagination__page.pagination__page__light:disabled {
    background-color: $dark-color;
    color: $white-color;
    s.icon{
      fill: red;
    }
  }
  button.pagination__page.pagination__page__dark:disabled {
    background-color: $white-color;
    color: $dark-color;
  }
  .pagination__page__light:hover:not([disabled]) {
    background-color: $button-pages-light-collor;
    color: $dark-color;
    cursor: pointer;
  }
  button.pagination__page__dark:hover:not([disabled]) {
    background-color: $button-page-dark-collor;
    color: $white-color;
    cursor: pointer;
  }
}

.pagination__page__light {
  background-color: $white-color;
  color: $dark-color;
  border: 1px solid $dark-color;
}
.pagination__page__dark {
  background-color: $dark-color;
  color: $white-color;
  border: 1px solid $white-color;
}

.pagination__page {
  min-height: 40px;
  min-width: 40px;
}

.pagination__angel {
  min-height: 40px;
  min-width: 40px;
}

.pagination__angel:hover:not([disabled]) {
  background-color: $button-page-dark-collor;
  color: $white-color;
  cursor: pointer;
}

.pagination__angel.pagination__page__dark:disabled {
  color: $gray-color;
}

.pagination__angel.pagination__page__light:disabled {
  color: $button-pages-light-collor;
  border: 1px solid $button-pages-light-collor;
}
