$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
//dark-theme
$gray-color: rgba(255, 255, 255, 0.3);
$dark-dark-gray-color: rgba(12, 12, 12);
//light-theme
$dark-gray-color: rgba(0, 0, 0, 0.3);

.Select {
    position: relative;
    min-width: 22.82%;
    &__container {
        position: absolute;
        width: 100%;
        z-index: 2;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        &--dark {
            background-color: $dark-dark-gray-color;
            border: 1px solid $white-color;
        }
        &--light {
            background-color: $white-color;
            border: 1px solid $dark-color;
        }
    }
    &__content {
        height: 300px;
        overflow-y: scroll;
        padding-top: 15px;
        margin-right: 8px;
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__option {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s;
        &--light:hover {
            background: $dark-color;
            color: $white-color;
        }
        &--dark:hover {
            background: $white-color;
            color: $dark-color;
        }
        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__button {
        display: flex;
        border-radius: 8px;
        height: 45px;
        padding: 0 15px;
        cursor: pointer;
        align-items: center;
        &--light {
            border: 1px solid $dark-color;
        }
        &--dark {
            background-color: $dark-dark-gray-color;
            border: 1px solid $white-color;
        }
        &--active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;
        }
        &__text {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.3rem;
        }
    }
    &__buttonIcons {
        display: flex;
        align-items: center;
        &-close {
            margin-right: 10px;
        }
    }
}
