$dark-color: rgb(0, 0, 0);
$white-gray-color: rgba(255, 255, 255, 0.75);

.catalog__painting {
	display: inline-block;
	overflow: hidden;
	border-radius: 1.25rem;
	position: relative;
	width: 100%;
	padding-bottom: 68.4%;
	margin: 1.09%;
}

.catalog__painting__img {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.catalog__painting__overlay {
	height: 1.7rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	color: $dark-color;
	padding: 0.3rem 0.1rem 0.3rem 0.9rem;

	.painting__name {
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		text-transform: capitalize;
		padding-bottom: 4px;
	}
	.painting__field {
		font-size: 13px;
		line-height: 20px;
		padding-bottom: 30px;
		//display: none;
		p {
			font-weight: 300;
			span {
				font-weight: 500;
			}
		}
	}
}

.catalog__painting:hover .catalog__painting__overlay {
	height: 6rem;
	transition: all 0.5s ease-out;
}

@media (max-width: 319px) {
	.catalog__painting {
		width: 100%;
		padding-bottom: 68.4%;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.catalog__painting {
		width: 100%;
		padding-bottom: 68.4%;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.catalog__painting {
		width: 47.8%;
		padding-bottom: 34.4%;
	}
}

@media (max-width: 1365px) and (min-width: 1024px) {
	.catalog__painting {
		width: 31.14%;
		padding-bottom: 24%;
	}
}

@media (min-width: 1366px) {
	.catalog__painting {
		width: 31.15%;
		padding-bottom: 24%;
	}
}
