
$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
//dark-theme
$gray-color: rgba(255, 255, 255, 0.3);
$dark-dark-gray-color: rgba(12, 12, 12);
//light-theme
$dark-gray-color: rgba(0, 0, 0, 0.3);

.dropdown {
  position: relative;
  min-width: 22.82%;
  margin: 1.09%;
}

.dropdown {
  .dropdown__button {
    display: flex;
    border-radius: 0.47rem;
    height: 2.76rem;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    align-items: center;
  }

  .button__light {
    border: 1px solid $dark-color;
  }

  .button__dark {
    background-color: $dark-dark-gray-color;
    border: 1px solid $white-color;
  }

  .button__active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
}

.dropdown__button {
  .button__text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
  }

  .button__icon {
    display: flex;
    align-items: center;

    .button__close {
      padding: 0 1rem 0 1rem;
    }

    .button__open {
      padding-bottom: 2px;
    }
  }
}

.dropdown {
  .container__light {
    background-color: $white-color;
    border: 1px solid $dark-color;
  }

  .container__dark {
    background-color: $dark-dark-gray-color;
    border: 1px solid $white-color;
  }

  .container {
    position: absolute;
    width: 100%;
    z-index: 2;
    border-bottom-left-radius: 0.47rem;
    border-bottom-right-radius: 0.47rem;
    border-top: none;
  }
}

.container {
  .container__dividing_line {
    height: 1px;
  }

  .dividing_line__light {
    background-color: $dark-gray-color;
  }

  .dividing_line__dark {
    background-color: $gray-color;
  }

  .content {
    max-height: 21.1rem;
    overflow-y: scroll;
    padding-top: 0.8rem;
    margin-right: 0.5rem;
    font-size: 16px;
    font-weight: 500;
  }
}

.content {
  .item {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    cursor: pointer;
    transition: all 0.2s;

    .item__pointer {
      visibility: hidden;
      padding-right: 1rem;
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .item__light:hover {
    background: $dark-color;
    color: $white-color;

    .item__pointer {
      visibility: visible;
      color: $white-color;
    }
  }

  .item__dark:hover {
    background: $white-color;
    color: $dark-color;

    .item__pointer {
      visibility: visible;
      color: $dark-color;
    }
  }
}
