$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
//dark-theme
$gray-color: rgba(255, 255, 255, 0.3);
$dark-dark-gray-color: rgba(12, 12, 12);
//light-theme
$dark-gray-color: rgba(0, 0, 0, 0.3);

.button__light {
  background-color: $white-color;
  border: 1px solid $dark-color;
}

.button__dark {
  background-color: $dark-dark-gray-color;
  border: 1px solid $white-color;
}

.dropdown {
  position: relative;
  min-width: 22.82%;
  margin: 1.09%;
}

.dropdown .dropdown__button {
  display: flex;
  justify-content: space-between;
  border-radius: 0.47rem;
  height: 2.76rem;
  padding: 0 1rem 0 1rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  .button__icon {
    display: flex;
    align-items: center;
    .button__close__light {
      padding: 0 1rem 0 1rem;
      color: $dark-gray-color;
    }
    .button__close__dark {
      padding: 0 1rem 0 1rem;
      color: $gray-color;
    }
  }
}

.button__open__light {
  color: $dark-gray-color;
}
.button__open__dark {
  color: $gray-color;
}

.button__open {
  width: 14px;
  height: 22px;
  padding-bottom: 0.3rem;
}

.content__light {
  background-color: $white-color;
  border: 1px solid $dark-color;
  border-top: 1px solid $white-color;
}

.content__dark {
  background-color: $dark-dark-gray-color;
  border: 1px solid $white-color;
  border-top: 1px solid $dark-color;
}

.dropdown .content {
  position: absolute;
  max-height: 22.5rem;
  width: 100%;
  z-index: 2;
  padding-top: 0.8rem;
  overflow-y: auto;
  border-bottom-left-radius: 0.47rem;
  border-bottom-right-radius: 0.47rem;
}

.button__active__light {
  border-bottom: 1px solid $dark-gray-color;
}

.button__active__dark {
  border-bottom: 1px solid $gray-color;
}

.dropdown {
  .button__active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dropdown .content .item {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  cursor: pointer;
  transition: all 0.2s;
  .item__pointer {
    width: 1.1rem;
    visibility: hidden;
    height: 1.1rem;
    padding-right: 2rem;
  }
}

.dropdown .content .item__light:hover {
  background: $dark-color;
  color: $white-color;
  .item__pointer {
    visibility: visible;
    color: $white-color;
  }
}

.dropdown .content .item__dark:hover {
  background: $white-color;
  color: $dark-color;
  .item__pointer {
    visibility: visible;
    color: $dark-color;
  }
}

.button__text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
