//scrollbar
$scrollbar-color: rgba(123, 123, 123);
//all
$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
//dark-theme
$gray-color: rgba(255, 255, 255, 0.3);
$button-page-dark-collor: rgba(70, 70, 70);
$dark-gray-color: rgba(12, 12, 12);
//light-theme
$white-gray-color: rgba(0, 0, 0, 0.3);
$button-pages-light-collor: rgba(237, 237, 237);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   background-color: $dark-color;
//   color: $white-color;
// }
.page__active_light {
  background-color: $white-color;
  color: $dark-color;
}
.page__active_dark {
  background-color: $dark-color;
  color: $white-color;
}
.page {
  max-width: 100%;
  padding-top: 35px;
  padding-left: calc(100vw / 32);
  padding-right: calc(100vw / 32);
  margin: 0 auto;
  min-height: 100vh;
  .page__svg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .page__svg__logo {
      width: 64px;
      height: 64px;
      margin-bottom: 24px;
      margin-left: 1.09%;
    }
    .page__svg__switch {
      margin-right: 1.09%;
      svg {
        cursor: pointer;
      }
    }
  }
}
svg {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

@media (max-width: 319px) {
  .page {
    padding-left: calc(100vw / 32);
    padding-right: calc(100vw / 32);
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .page {
    padding-left: calc(100vw / 32);
    padding-right: calc(100vw / 32);
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .page {
    padding-left: calc(100vw / 35);
    padding-right: calc(100vw / 35);
  }
}

@media (max-width: 1365px) and (min-width: 1024px) {
  .page {
    padding-left: calc(100vw / 32);
    padding-right: calc(100vw / 32);
  }
}

@media (min-width: 1366px) {
  .page {
    padding-left: calc(100vw / 12);
    padding-right: calc(100vw / 12);
  }
}

.page__active_light {
  background-color: $white-color;
  color: $dark-color;
}
.page__active_dark {
  background-color: $dark-color;
  color: $white-color;
}
