//scrollbar
$scrollbar-color: rgba(123, 123, 123);
//all
$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
//dark-theme
$gray-color: rgba(255, 255, 255, 0.3);
$button-page-dark-collor: rgba(70, 70, 70);
$dark-gray-color: rgba(12, 12, 12);
//light-theme
$white-gray-color: rgba(0, 0, 0, 0.3);
$button-pages-light-collor: rgba(237, 237, 237);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   background-color: $dark-color;
//   color: $white-color;
// }
.page__active_light {
  background-color: $white-color;
  color: $dark-color;
}
.page__active_dark {
  background-color: $dark-color;
  color: $white-color;
}
.page {
  max-width: 100%;
  padding-top: 35px;
  padding-left: calc(100vw / 32);
  padding-right: calc(100vw / 32);
  margin: 0 auto;
  min-height: 100vh;
  .page__svg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .page__svg__logo {
      width: 64px;
      height: 64px;
      margin-bottom: 24px;
      margin-left: 1.09%;
    }
    .page__svg__switch {
      margin-right: 1.09%;
      svg {
        cursor: pointer;
      }
    }
  }
}
svg {
  cursor: pointer;
}
.page__catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog__painting {
  display: inline-block;
  overflow: hidden;
  border-radius: 1.25rem;
  position: relative;
  width: 100%;
  padding-bottom: 68.4%;
  margin: 1.09%;
}

.catalog__painting__img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.catalog__painting_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  color: $dark-color;
  padding: 0.3rem 0.1rem 0.3rem 0.9rem;
  .painting__name {
    font-size: 1.3rem;
  }
}

.painting__field {
  display: none;
}

.catalog__painting:hover .painting__field {
  display: block;
}

.page__filter {
  display: flex;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .page {
    padding-left: calc(100vw / 32);
    padding-right: calc(100vw / 32);
    .catalog__painting {
      width: 100%;
      padding-bottom: 68.4%;
    }
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .page {
    padding-left: calc(100vw / 35);
    padding-right: calc(100vw / 35);
    .catalog__painting {
      width: 47.8%;
      padding-bottom: 34.4%;
    }
  }
}

@media (max-width: 1365px) and (min-width: 1024px) {
  .page {
    padding-left: calc(100vw / 32);
    padding-right: calc(100vw / 32);
    .catalog__painting {
      width: 31.14%;
      padding-bottom: 24%;
    }
  }
}

@media (min-width: 1366px) {
  .page {
    padding-left: calc(100vw / 12);
    padding-right: calc(100vw / 12);
    .catalog__painting {
      width: 31.15%;
      padding-bottom: 24%;
    }
  }
}

.page__active_light {
  background-color: $white-color;
  color: $dark-color;
}
.page__active_dark {
  background-color: $dark-color;
  color: $white-color;
}

.pagination {
  padding: 40px 1.09% 40px 1.09%;
  display: flex;
  .double__left {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  .double__right {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }
  button.pagination__page.pagination__page_light:disabled {
    background-color: $dark-color;
    color: $white-color;
  }
  button.pagination__page.pagination__page_dark:disabled {
    background-color: $white-color;
    color: $dark-color;
  }
  .pagination__page_light:hover:not([disabled]) {
    background-color: $button-pages-light-collor;
    color: $dark-color;
    cursor: pointer;
  }
  button.pagination__page_dark:hover:not([disabled]) {
    background-color: $button-page-dark-collor;
    color: $white-color;
    cursor: pointer;
  }
}

.pagination__page_light {
  background-color: $white-color;
  color: $dark-color;
  border: 1px solid $dark-color;
}
.pagination__page_dark {
  background-color: $dark-color;
  color: $white-color;
  border: 1px solid $white-color;
}

.pagination__page {
  min-height: 40px;
  min-width: 40px;
}

.pagination__angel {
  min-height: 40px;
  min-width: 40px;
}

.pagination__angel:hover:not([disabled]) {
  background-color: $button-page-dark-collor;
  color: $white-color;
  cursor: pointer;
}

.pagination__angel.pagination__page_dark:disabled {
  color: $gray-color;
}

.pagination__angel.pagination__page_light:disabled {
  color: $button-pages-light-collor;
  border: 1px solid $button-pages-light-collor;
}
